
header {display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
#coderflix{
  
    color:red
}
nav{
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    display: flex;
  }
 
  nav ul li {
    margin-left: 15px;
    color: #fff;
  }
 
header ul{
    display:flex
}
.left{
    display: flex;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 600px;
}
.searchbar{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.icons{
    display: flex;
    height: 20px;
    width:20px;
    justify-content: space-between;
    margin-right: 50px;
  
}
.dropdown {
    position: relative;
    display: flex;
 
  }
  #bell{
margin-left: 10px;
  }
  #account{
    margin-left: 5px;
    margin-right: 10px;
  }

  








.main-card{
    height: fit-content;
    width:400px;
    background-color:rgb(71, 71, 245);
}
.card-up{
    height: 50%;
    width: 100%;
}
#image{
    height: 100%;
    width: 100%;
}


.first-half{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


button{
  cursor: pointer;
  outline: 0;
  color: #AAA;

}

.btn:focus {
  outline: none;
}

.green{
  color: green;
}

.red{
  color: red;
}
.btn{
  height:50px;
  width: 70px;
}
